
{% extends 'base.html.twig' %}

{% block body %}
  <br />

  <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
    <h1 class="mb-5">
      Envoyer un contact
    </h1>
  </div>

  <br />

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6">
        {% for message in app.flashes('_message') %}
          <div class="alert alert-success">
            {{ message }}
          </div>
        {% endfor %}


                    

<div class="row gy-2 gx-4 mb-4">

                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Poste: {{ annonce.poste  }}</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Entreprise:  {{ annonce.entreprise  }}</p>
                        </div>
                         <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Type de contrat:  {{ annonce.typeContrat  }}</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Salaire:  {{ annonce.salaire  }} Dt</p>
                        </div>
                        

                    </div>
                    
                









        <div>
          {{ form_start(formContact) }}

          {{ form_label(formContact.message) }}
          <div class="text-danger">
            {{ form_errors(formContact.message) }}
          </div>
          {{ form_widget(formContact.message) }}

<br /><br />
          <div class="row justify-content-between">
            <div class="col-4"></div>
            <div class="col-4">
              {{form_widget(formContact.save)}}
            </div>
          </div>
          {{ form_end(formContact) }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}










































