<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Offre d'emplois</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="{{ asset("img/favicon.ico")}}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{{ asset("lib/animate/animate.min.css")}}" rel="stylesheet">
    <link href="{{ asset("lib/owlcarousel/assets/owl.carousel.min.css")}}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{{ asset("css/bootstrap.min.css")}}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{{ asset("css/style.css")}}" rel="stylesheet">
</head>


<body>

<!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
        <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h2 class="m-0 text-primary"><i class="fa fa-1x  fa-bullhorn text-primary mb-2"></i>Offre emplois</h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">


            <a href="{{ url('accueil') }}" class="btn btn-primary py-4 px-lg-4 d-none d-lg-block"> Accueil</a>


{% if app.user   %}

{% if app.user.type=="Recruteur" %}

                <a href="{{ url('profil') }}" class="btn btn-primary py-4 px-lg-3 d-none d-lg-block">Mon profil</a>
                <a href="{{ url('listeEmplois') }}" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Liste des emplois</a>
                <a href="{{ url('listeStages') }}" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Liste des stage</a>
                <a href="{{ url('listeContactRec') }}" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Liste des contacts</a>
                <a href="{{ url('createAnnonce') }}" class="btn btn-primary py-4 px-lg-3 d-none d-lg-block">Ajouter une annonce</a>
                <a href="{{ url('logout') }}" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block"> Déconnexion</a>





{% elseif app.user.type=="Candidat" %}

                <a href="{{ url('profil') }}" class="btn btn-primary py-4 px-lg-3 d-none d-lg-block">Mon profil</a>
                <a href="{{ url('listeEmplois') }}" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Liste des emplois</a>
                <a href="{{ url('listeStages') }}" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Liste des stage</a>
                <a href="{{ url('logout') }}" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block"> Déconnexion</a>


{% endif %}


                        {% else %}
                                        <a href="{{ url('login') }}" class="btn btn-primary py-4 px-lg-4 d-none d-lg-block">Se connecter</a>
                                        <a href="{{ url('register') }}" class="btn btn-primary py-4 px-lg-4 d-none d-lg-block">Inscription</a>

                         
{% endif %}











             
            </div>
        </div>
    </nav>
    <!-- Navbar End -->


{% block body %} 


    



{% endblock %}











</body>

 <!-- Back to Top -->


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ asset("lib/wow/wow.min.js")}}"></script>
    <script src="{{ asset("lib/easing/easing.min.js")}}"></script>
    <script src="{{ asset("lib/waypoints/waypoints.min.js")}}"></script>
    <script src="{{ asset("lib/owlcarousel/owl.carousel.min.js")}}"></script>

    <!-- Template Javascript -->
    <script src="{{ asset("js/main.js")}}"></script>




</body>

</html>